{%extends 'base.html'%}

{%block links%}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{%endblock%}

{%block title%}My Todo App||{%endblock%}


{%block content%}

    <div class="todomainCont">

        <div class="todo">
            <form action="" method="POST">
                <input type="text" name="todo">
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>

    </div>

    <div class="todosListCont">
        <h1>My Tasks</h1>
        <ul class="list-group">
            
            {%for todo in context.todos%}
                <li class="list-group-item">{{todo.content}}
                    <button class="btn btn-warning">update</button>
                    <button class="btn btn-danger">delete</button>
                    <button class="btn btn-success">complete</button>
                </li>
            {%endfor%}
          </ul>
    </div>
    
{%endblock%}